@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Love+Ya+Like+A+Sister&display=swap");

div .Park {
  margin: 0;
}
ul.ParkList {
  font-family: "Irish Grover", cursive;
  font-weight: 400;
  background-color: #f8e3ba;
  color: #815f46;
  list-style-type: none;
  margin: 1% 10%;
  border: 5px solid #939a66;
  border-radius: 25px;
  text-align: center;
}

html {
  background-color: #f8e3ba;
}

h1 {
  text-align: center;
  font-family: "Love Ya Like A Sister", sans-serif;
  font-weight: 400;
  font-size: 55px;
}

.Total {
  text-align: right;
}

p {
  font-size: 0.8em;
  text-align: right;
  padding-right: 130px;
}

li {
  font-size: 25px;
  margin: 5px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #eaa534;
}

.ParkName {
  font-weight: bold;
}
